<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wallet</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/themify-icons.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- vue -->
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<!-- <div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="index.html" class="site-logo">
				<!-- <img src="img/logo.png" alt=""> -->
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="wallet.html">Wallet</a></li>
					<li><a href="transaction history.html">Transaction History</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Wallet</h2>
			<div class="site-beradcamb">
				<a href="index.html">Home</a>
				<span><i class="fa fa-angle-right"></i>Wallet</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->

	<!-- Infomation wallet section -->
	<section class="contact-page">
		<div id = "infoWallet" class="container">
			<div class="row">
				<div class="col-md-12 hero-text">
					<h3>Address:  <span>{{address}}</span> </h3>
					<h3>Balance: <span>{{balance}}</span> </h3>
				</div>
			</div>
		</div>
	</section>
	<!-- Infomation wallet section end -->

	<!-- Form send transaction section -->
	<section class="contact-page spad">
		<div id="formSendTransaction" class="container">
			<div class="row">
				<div class="col-lg-7">
					<form class="contact-form">
							<div class="col-md-12">
								<div class="form-group">
									<input v-model="receiverAddress" class="check-form" type="text" placeholder="Address:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input v-model="receiverAmount" class="check-form" type="text" placeholder="Amount:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-12">
								<button class="site-btn sb-gradients mt-4" 
										v-on:click = "sendTransaction">Send</button>
							</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Form send transaction section end -->

	<!-- Team section -->
	<section id="transaction" class="team-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Transaction Pool</h2>
			</div>
		</div>

		<div class="team-members"
			v-if="transactionPool.length === 0">
			<div class="member">
				<div class="member-text">
		<span>No transactions in transaction pool</span>
		</div></div>
		
		</div>

		<div class="team-members"
			v-if="transactionPool.length !== 0">
			<!-- Team member -->
			<div class="member" v-for="tx in transactionPool">
				<div class="member-text">
					<div class="row">
						<div class="five columns">
							<div class="row member-meta">
								<h2>TxId: <span >{{ tx.id }}</span></h2>
							</div>

							<div v-for="txIn in tx.txIns">
								<div v-if="txIn.signature === ''">coinbase</div>
								<div class="row member-meta" v-else>txOutId: {{ txIn.txOutId }}<br>
																	txOutIndex: {{ txIn.txOutIndex }}</div>
							</div>
						</div>
					</div>
				</div>

				<div class="member-text">
					<div class="row">
						<div class="five columns">
							<div class="row">
								<h2><i class="fa fa-angle-right"></i></h2>
							</div>
						</div>
					</div>
				</div>	

				<div class="member-text">
					<div class="six columns">
						<div class="row" v-for="txOut in tx.txOuts">
						  	<div class="member-meta">
								<h2>address: <span>{{ txOut.address }}</span></h2>
								
								amount: {{ txOut.amount}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 text-center">
			<form>
				<button class="site-btn sb-gradients mt-4"
						v-on:click="mineBlock">Mine Block</button>
					</form>
		</div>
	</section>
	<!-- Team section -->

	<script>
        infoWallet = new Vue ({
            el: '#infoWallet	',
            data () {
                return {
                    address: '',
					balance: '',
                }
            },
			mounted () {
			axios
			.get('http://localhost:3001/address')
			.then(response => (this.address = response.data.address));

			axios.get('http://localhost:3001/balance')
			.then(response => (this.balance = response.data.balance));
			}
        })
        
        formSendTransaction = new Vue ({
            el: '#formSendTransaction',
            data() {
                return {
                receiverAddress: '',
                receiverAmount: ''
                }
            },
            methods: {
                sendTransaction: function (e) {
					e.preventDefault();
					axios.post(`http://localhost:3001/sendTransaction`, 
								{address: this.receiverAddress,
								 amount: parseInt(this.receiverAmount)})
                    .then(response => (this.receiverAddress = null,
									   this.receiverAmount = null,
									   transaction.load()))
                }
            }
		})
		
		transaction = new Vue ({
            el: '#transaction',
            data() {
                return {
                transactionPool: [],
                }
            },
            mounted () {
				this.load()
			},

			methods: {
				load: function (){
					axios
					.get('http://localhost:3001/transactionPool')
					.then(response => (this.transactionPool = response.data));
				},

				mineBlock: function () {
					axios.post(`http://localhost:3001/mineBlock`)
                    .then(response => (infoWallet.mounted(),
									   this.mounted()))
				}
			}
        })
    </script>

	<!--====== Javascripts & Jquery ======-->
	<!-- <script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/owl.carousel.min.js"></script> -->
	<!-- <script src="js/main.js"></script> -->



</body>
</html>
